{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
  <ul class="posts-list">
    {{ range where .Paginator.Pages "Type" "!=" "page" }}
    <li class="posts-list-item">
      <h2><a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <span class="posts-list-item-description">
        {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
        {{ .PublishDate.Format "Jan 2, 2006" }}
        -
        {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
        {{ .ReadingTime }} min read
      </span>
      <br>
      <div>
        {{ .Summary }}
      </div>
      <div>
        <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" $ }}
</article>
{{ end }}